In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10, 'bb':20, 'cc':30, 'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [4]:
sr+2 #요소별 연산

aa    12
bb    22
cc    32
dd    42
ee    52
Name: 국어점수, dtype: int64

In [5]:
sr*2

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [7]:
#문제 세금 3.3을 제한 실수령액을 구하시오.
salary = pd.Series([1000,2000,3000,4000])
salary

0    1000
1    2000
2    3000
3    4000
dtype: int64

In [9]:
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [10]:
sr>=30

aa    False
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [11]:
sr[sr>=30]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

## 논리연산자(and ==> &, or ==> |, not ==> ~)

In [12]:
sr[(sr==20) | (sr==50)]

bb    20
ee    50
Name: 국어점수, dtype: int64

In [14]:
(sr>=30) & (sr<=50)

aa    False
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [15]:
sr[(sr>=30) & (sr<=50)]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [16]:
-((sr==20) | (sr==50))

aa     True
bb    False
cc     True
dd     True
ee    False
Name: 국어점수, dtype: bool

In [17]:
sr[-((sr==20) | (sr==50))]

aa    10
cc    30
dd    40
Name: 국어점수, dtype: int64

In [19]:
sr.isin([20,50])

aa    False
bb     True
cc    False
dd    False
ee     True
Name: 국어점수, dtype: bool

In [20]:
sr[sr.isin([20,50])]

bb    20
ee    50
Name: 국어점수, dtype: int64

In [21]:
~sr.isin([20,50])

aa     True
bb    False
cc     True
dd     True
ee    False
Name: 국어점수, dtype: bool

In [22]:
# (sr>=30) & (sr<=50)와 동일
sr.between(30, 50)

aa    False
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [25]:
sr.index == 'bb'

array([False,  True, False, False, False])

In [26]:
sr[sr.index == 'bb']

bb    20
Name: 국어점수, dtype: int64

In [29]:
sr[sr.index.isin(['bb','ee'])]

bb    20
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64