In [1]:
import pandas as pd
import numpy as np

In [2]:
sr = pd.Series([90,90,55,60,76,80,76,88,30,25], name="국어점수")
sr.index=['홍길동','이순신','임꺽정','정난정','이이','이황','정도전','김철수1','김철수2','김철수3']
sr

홍길동     90
이순신     90
임꺽정     55
정난정     60
이이      76
이황      80
정도전     76
김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64

In [4]:
# 1.국어점수가 80점 이상인 값을 구하시오.
sr[sr>=80]

홍길동     90
이순신     90
이황      80
김철수1    88
Name: 국어점수, dtype: int64

In [6]:
# 2.국어점수가 50점 이상 80점 이하인 값을 구하시오.
sr[sr.between(50,80)]

임꺽정    55
정난정    60
이이     76
이황     80
정도전    76
Name: 국어점수, dtype: int64

In [9]:
# 3. 국어점수가 40점이하인 데이터를 삭제하시오.
sr.drop(sr.index[sr<=40])

홍길동     90
이순신     90
임꺽정     55
정난정     60
이이      76
이황      80
정도전     76
김철수1    88
Name: 국어점수, dtype: int64

In [ ]:
# 4. 30이하인 데이터에 5를 더한 값으로 수정하시오.

In [ ]:
# 5. 국어점수의 가장 큰 값을 구하시오.

In [ ]:
sr